<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="URL_API" value="http://cai-api.azurewebsites.net/api/v1"/>
		<add key="URL_PRESTAMO" value="/prestamo/"/>
		<add key="URL_TIPO_PRESTAMO" value="/prestamotipo"/>
		<add key="REGISTRO" value="847004"/>		
		<add key="PORC_COMISION" value="0.15"/>		
	</appSettings>
	
</configuration>